<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center" style="margin-top: 10px;">
      <%= image_tag '/landing-jumbo.png', height: '450' %>
    </div>
  </div>
  <div class="row">
    <div class="text-center" style="margin-top: 50px;">
      <%= link_to 'Sign in', new_participant_session_path, class: 'btn btn-success btn-lg', style: 'width: 170px;'%>
    </div>
  </div>
</div>