<div id="search-wrapper">
  <input class="typeahead" type="text" placeholder="Articles">
</div>


<% FoodCategory.all.each do |fc| %>
  <h4><%= fc.name %></h4>
  <ul>
  <% fc.foods.each do |f| %>
    <li><%= f.name %></li>
  <% end %>
  </ul>
<% end %>

<script>

  foods = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/search/query_participant?q=%QUERY'
    }
  })

  // Initialize the engine
  foods.initialize()
      $('input.typeahead').typeahead(
          {
            hint: true,
            highlight: true,
            minLength: 1
          },
          {
            name: 'participants',
            displayKey: 'pid',
            source: foods.ttAdapter()
          })
</script>