<p>Greetings from the Boden Food Plate Team!</p>

<p>You have been invited to participate in a trial with the Boden Institute via the Boden Food Plate.</p>

<p>Your login will be: <%= @resource.pid %></p>
<p><%= link_to 'Click here to setup your account.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>