/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require font-awesome
 *= require parsley
 *= require select2
 *= require select2-bootstrap
 *= require pace/pace-theme-loading-bar
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Benton', 'Tahoma', 'Helvetica', 'Arial', sans-serif;
  color: #1b1b1b;
  height: 100%;
}

.container.main {
  margin-bottom: 20px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

.well, .btn, .form-control{
  border-radius: 0 !important;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.navbar .brand {
  width: 100px;
  padding: 15px 20px 15px;
  margin-right: 70px;
  margin-left: 0px;
  background: transparent url(/logo.png) no-repeat left 5px;
  display: inline-block;
  text-indent: 0%;
  white-space: nowrap;
  overflow: visible;
  padding-right: 0;
  padding-left: 60px;
  text-align: left;
  color: #FFF;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
}

.navbar {
  background-color: #12416c;
  border-color: #2e6da4;
  border-radius: 0;
}

.navbar .navbar-nav > li > a {
  color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #7992b1;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #7992b1;
  border-color: #2e6da4;
}

.form-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0px;
  -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
}

.avatar {
  background-image: url(/avatar.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  margin: 30px auto 10px;
  width: 100px;
  height: 100px;
}

.sign-in {
  margin-top: 60px;
  text-align: center;
}

.sign-in-options {
  margin: 20px 0;
  text-align: center;
}

li.form-error {
  color: darkred;
  list-style-type: none;
}

.dataTables_wrapper {
  margin-top: 25px;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 0px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.food-search-bar {
  min-height: 691px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0px;
  -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
}

.game-wrapper {
  -webkit-perspective: 400px;
  transform: translate3d(0,0,0);
  perspective: 400px;
  text-align: center;
  position: relative;
  padding-top: 15px;
  margin-bottom: 50px;
}

plate {
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
}

plate {
  border-bottom: solid 5px #DDD;
  background: white;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

plate {
  border-bottom: solid 5px #DDD;
  background: white;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}


plate:before {
  content: "";
  display: block;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  position: absolute;
  height: 65px;
  width: 65px;
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: .4;
  background: rgba(255,255,255,1);
}

plate {
  height: 100px;
  width: 100px;
  top: -8px;
  left:4px;

}

.table-wrapper {
  margin-top: 10px;
  -webkit-transform: rotateX(20deg) translate3d(0,0,0);
  transform: rotateX(20deg) translate3d(0,0,0);
  min-height: 142px;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -transform-style: preserve-3d;
}

.table-wrapper .table {
  box-shadow: 0px 10px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 10px 10px rgba(0,0,0,.2);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  background: #DDD;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  background: #dd6d84;
  background: -webkit-linear-gradient(#dd992d,#cd8c26);
  z-index: 999;
  position:relative;
}

.table-edge  {
  outline: solid 1px transparent;
  display: none;
  display: block;
  margin:0 auto 10px auto;
  background: #ac741c;
  height: 15px;
  transform: rotateX(-40deg);
  -webkit-transform: rotateX(-40deg);
  -webkit-transform-origin: top;
  transform-origin: top;
}

.strobe {
  -webkit-animation: strobe 1s infinite;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  animation: strobe 1s infinite;
}

@-webkit-keyframes strobe {
  0% { -webkit-transform:   skew(4deg,0deg) scaleX(1); }
  10% { -webkit-transform:  skew(1deg,0deg) scaleY(.9) ; }
  50% { -webkit-transform:  skew(-4deg,0deg) scaleX(1); }
  60% { -webkit-transform:  skew(-1deg,0deg) scaleY(.9) ; }
  100% { -webkit-transform: skew(4deg,0deg) scaleX(1); }
}

@keyframes strobe {
  0% { transform:   skew(4deg,0deg) scaleX(1); }
  10% { transform:  skew(1deg,0deg) scaleY(.9) ; }
  50% { transform:  skew(-4deg,0deg) scaleX(1); }
  60% { transform:  skew(-1deg,0deg) scaleY(.9) ; }
  100% {transform: skew(4deg,0deg) scaleX(1); }
}


bplate {
  box-shadow: 0px 15px 0px rgba(0,0,0,.1);
  display: inline-block;
  width: 500px;
  height: 500px;
  margin: 0 10px;
  position: relative;
}

bplate {
  border-bottom: solid 5px #DDD;
  background: white;
  -webkit-border-radius: 500px;
  border-radius: 500px;
}

bplate {
  border: solid 1px #eee;
  background: white;
  -webkit-border-radius: 500px;
  border-radius: 500px;
}


bplate:before {
  content: "";
  display: block;
  left: calc(15%);
  top: calc(15%);
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 270px;
  border-top: solid 10px #CCC;
  border-bottom: solid 1px #CCC;
  opacity: .4;
  background: rgba(255,255,255,1);
}

bplate {
  height: 500px;
  width: 500px;
  top: -8px;
  left:4px;
  z-index: -1;
}

.draggable {
  z-index: 9001;
}

.item {
  z-index: 10000;
}

.plate-details {
  height: 500px;
  margin-top: 0 !important;
}

.food-goes-here {
  left: calc(15%);
  top: calc(15%);
  position: absolute;
  height: 350px;
  width: 350px;
  z-index: 9999999;
}

.food-on-plate {
  z-index: 99999999;
}

.col-md-6 {
  z-index: 0;
}

.hidden {
  display: none;
}

table.tableSection {
  display: table;
  width: 100%;
}
table.tableSection thead, table.tableSection tbody {
  float: left;
  width: 100%;
}
table.tableSection tbody {
  overflow: auto;
  height: 230px;
}
table.tableSection tr {
  width: 100%;
  display: table;
  text-align: left;
}
table.tableSection th, table.tableSection td {
  width: 33%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.food-counter {
  left: calc(50% - 5px);
  top: calc(50% - 10px);
  position: absolute;
}

.trash {
  height: 5em;
  float: right
}
.trash i {
  font-size: 5em;
}

.no-plates-div {
  height: 550px;
}

.tooltip.in {
  z-index: 99999999;
}

.food-counter {
  font-size: 1.5em;
}

.food-label {
  margin-top: 100px;
}

/* FOOTER //////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#push,
#footer {
  height: 80px;
}
#footer {
  text-align: center;
  clear: both;
  border-top: 1px dotted #CCC;
}

#footer .logo{
  padding: 10px;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.food-wrapper ul {
  list-style: none;
}

.food-wrapper ul li {
  border-top: 1px;
}

.panel#vegetables .panel-heading {
  background-color: #2ECC40;
}

.panel#fruit .panel-heading {
  background-color: #01FF70;
}
.panel#meat_fish_seafood_alts .panel-heading {
  background-color: #FF4136;
}
.panel#breads_cereals .panel-heading {
  background-color: #FFDC00;
}
.panel#pasta_rice_grains .panel-heading {
  background-color: #2851a5;
}
.panel#dairy .panel-heading {
  background-color: #ff9292;
}
.panel#fats_oils .panel-heading {
  background-color: #ff992c;
}
.panel#sauces_dressings_condiments .panel-heading {
  background-color: #88e6ff;
}
.panel#cakes_pastries_desserts .panel-heading {
  background-color: #F012BE;
}
.panel#biscuits_snacks_sweets .panel-heading {
  background-color: #39CCCC;
}
.panel#beverages .panel-heading {
  background-color: #7FDBFF;
}
.panel#takeaways_mixed_dishes .panel-heading {
  background-color: #cbeeff;
}
.panel#homemade_recipes_home_dishes .panel-heading {
  background-color: #AAAAAA;
}
.panel a {
  color: #fff;
  text-decoration: none;
}

.dataTables_filter {
  margin-left: 15px;
}