<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Food Diaries', food_diaries_path %></li>
  <li><%= link_to 'Foods Database', food_categories_path %></li>
<% end %>


